<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist(AKA todos)</title>
</head>
<body>
    <h1>Wish List Items</h1>
    {% if item_list|length == 0 %}
        <h3>No wihs items</h3>
    {% else %}
        <h3>{{item.description}}</h3>
    {% endif %}
    <hr>
    <a href="{% url 'item_create' %}">Add Wish List Item</a>
    <table>
        <thead>
          <tr><th>Description</th><th>Delete</th></tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{item.description}}</td>
              <td><a href="{% url 'item_delete' item.id %}" style="color:red">X</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

</body>
</html>